# Entorno virtual
env/
venv/

# Archivos de variables de entorno
.env

# Migraciones generadas localmente (opcional)
*/migrations/

# Python caché y archivos compilados
__pycache__/
*.pyc
*.pyo

# Base de datos local
db.sqlite3